html 
    head
        link(rel='stylesheet', href='/css/index.css', type='text/css')
        title NWBR
        h1(id='logo') NWBR 
    body
        h2(id='sub-titulo') Comunidade Brasileira de Napoleonic Wars
        div(id='navegacao-caixa')
            
            a(href='/' class='caixa') Início
            
            a(href='/info' class='caixa') Informações
           
            a(href='/tabela' class='caixa') Tabela
            